@charset 'utf-8';
@import '../../globals/utils.scss';
@import '../../globals/mixins.scss';

section[id="reinventing"] {
  height:75vh;
  background-image: url('../../assets/images/peoplesListening.webp');
  background-size: cover;
  background-position: center center;
  @include flexCenter;
  align-items: inherit;
  flex-flow: column;
  font-family: $medium;
  color: #fff;
  @media (min-width:500px) and (max-width: $mobile-lg) {
    padding: 5rem 2rem;
  }
  > p {
    font-size: 3rem;
    line-height:4rem;
    @media (min-width:500px) and (max-width: $mobile-lg) {
      padding-right: 10em;
      line-height:5rem
    }
    @media (min-width:$tablet-md) {
      font-size: 4.4rem;
      padding: 0 36rem 0 3rem;
      line-height: 6rem;
    }

    @media (min-width:$tablet-lg) {
      line-height:1.3em;
      padding: 0 58rem 0 3rem;
    }
    @media (min-width:$computer-sm) {
      font-size: 3.3em;
      line-height: 6.5rem;
    }
  }
  > span {
    padding: 0 26rem 0 3rem;
    display: flex;
    margin-top: 3rem;
    @media (min-width:$tablet-md) {
      font-size: 1.6rem;
      display: flex;
    }
  }
}
