$main:#8a05be;
$secondary:#c093fb;
$tertiary: #530082;
$black:#111;
$address:whitesmoke;
$list:#111111b3;
$footer:#191919;
$hover:#d57dff;

$medium: 'Graphik-Medium','Graphik-Regular','Helvetica, Arial, sans-serif';
$regular: 'Graphik-Regular','Graphik-Medium','Helvetica, Arial, sans-serif';


// mq

$mobile-md: 350px;
$mobile-lg: 699px;
$tablet-md: 700px;
$tablet-lg: 1000px;
$computer-sm: 1200px;
