@charset 'utf-8';
@import '../../globals/utils.scss';
@import '../../globals/mixins.scss';

section[id="nu-community"] {
  background-image: url('../../assets/images/peopleHappy.webp');
  @include bgProperties;
  @include flexCenter;
  align-items: inherit;
  flex-flow: column;
  padding: 2rem 3rem;
  @media (min-width:500px) and (max-width: $mobile-lg) {
    padding: 5rem 2rem;
  }
  @media (min-width:$tablet-md) {
   padding: 2rem 6rem;
  }
  @media (min-width:$tablet-lg) {
    height: 100vh;
  }
  > h2 {
    font-size: 2.7rem;
    color: #fff;
    margin-bottom:3rem;

    @media (min-width:$mobile-lg) {
      font-size: 4rem;
    }
    @media (min-width:$tablet-lg) {
        font-size:5rem;
    }
    @media (min-width:$computer-sm) {
      font-size: 3.3em;
      line-height: 6.5rem;
    }
  }
  > p {
    color: #fff;
    font-size: 2.66rem;
    @media (min-width:500px) and (max-width: $mobile-lg) {
      font-size: 2.7em;
      font-family: $medium;
      padding-right: 10em;
      line-height:5rem
    }
     @media (min-width:$tablet-lg) {
      font-size:3rem;
      line-height:7rem
    }

  }
  > span {
    line-height: 2rem;
    color: #fff;
    display: flex;
    @media (min-width:500px) and (max-width: $mobile-lg) {
      padding-right: 10em;
      margin-top: 2rem;
      justify-content: flex-start;
    }
  }
}
