@charset 'utf-8';
@import '../../../globals/utils.scss';
@import '../../../globals/mixins.scss';

nav {
  @include flexCenter;
  height: 100%;
  > ol {
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 100%;
   @media (min-width:$tablet-lg) {
    padding: 0 3rem;
  }
  > img {
    width: 7%;
    max-width: 7%;

    @media (min-width:$tablet-lg) {
      width: 4%
    }
  }
  > li {
    color:$list;
    font-weight: 500;
    transition: color 400ms ease;
    @media (min-width:$tablet-lg) {
      font-size: 18px;
    }
    &:hover {
      color: $main;
    }
      > button[type="button"] {
        background: $main;
        color: #fff;
        padding: 1rem;
        border: 1px solid $main;
        border-radius: 15px;
        font-size: 1.7rem;
        font-family: $regular;
        font-weight: 700;
        width: 100%
      }
    }
  }
}
