@charset 'utf-8';
@import '../../globals/utils.scss';

header {
  font-family: $medium;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 10%;
  background: #fff;
  > figure {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    > img {
      width: 18%;
       @media (min-width:$mobile-lg) {
        width: 10%;
        max-width: 10%
      }
    }
  }
}
