@charset 'utf-8';
@import '../../globals/utils.scss';
@import '../../globals/mixins.scss';

footer {
  background-color: $black;
  color: #fff;
  padding: 2rem;

  > div {
    @media (min-width:$tablet-md) {
      @include grid;
    }
    > ol {
      &[id="download"], &[id="attendence"] {
        border: 1px solid transparent;
        border-bottom-color: $footer;
      }
      @media (min-width:$tablet-md) {
        padding-left: 3rem;
      }
      > h2 {
        margin: 5rem 0;
        font-weight: 100;
      }
      > li {
        margin-top: 1rem;
        font-size: 1.77rem;
        display: flex;
        width: max-content;

        &[id="download-app"] {
          flex-flow: column wrap;
         > figure {
           margin: 2rem 0;
         }
        }
      }

      > figure {
        margin-top: 3rem;
        min-width: 25%;
    }
  }
}
> aside[id="info"] {
  @media (min-width:$tablet-lg) {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    margin: 6em 0;
    padding:0 2rem;
  }
    > figure[id="nu-logo"] {
      margin-top: 6em;
      > img {
        width: 25%;
       @media (min-width:$tablet-lg) {
        width: 100%;
      }
      }
      @media (min-width:$mobile-lg) {
        max-width: 35%;
      }
      @media (min-width:$tablet-lg) {
        margin: 0;
        max-width: 75%;
      }
    }
    > address {
      line-height: 3rem;
      font-family: $medium;
      font-size: 1.44rem;
      margin-bottom: 5em;
      @media (min-width:$mobile-lg) {
        padding-right: 12em;
      }
      @media (min-width:$tablet-md) {
        padding-right: 22em;
      }
      @media (min-width:$tablet-lg) {
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 4rem;
      }
    }
    > article {
      @include flexCenter;
      justify-content: space-around;
      border: 1px solid transparent;
      margin-bottom: 3em;
      @media (min-width:$mobile-lg) {
        justify-content: space-evenly;
        padding: 0 7rem;
      }
      @media (min-width:$tablet-md) {
        padding: 0;
        width: 50%;
        justify-content: space-around;
      }
      @media (min-width:$tablet-lg) {
        margin: 0;
        width: 100%;
        padding: 0 7rem;
      }

      > svg {
        cursor: pointer;
        transition: color 0s ease-in;
        &:hover {
          color: $hover;
        }
      }
    }
  }
}
