@charset 'utf-8';
@import '../../globals/utils.scss';
@import '../../globals/mixins.scss';

section[id="blog"] {
  height:75vh;
  background-image: url('../../assets/images/MenSmileDevice.webp');
  background-size: cover;
  background-position: center center;
  flex-flow: column;
  padding: 5rem 3rem;
  @media (min-width:500px) and (max-width: $mobile-lg) {
    padding: 5rem 2rem;
  }
  > h2 {
    font-size: 2.5rem;
    margin-top: 3rem;
    color: #fff;
    line-height: 3rem;
    @media (min-width:500px) and (max-width: $mobile-lg) {
      font-size: 4rem;
      padding-right: 8em;
      line-height: 5.5rem;
      margin-bottom: 3rem;
    }
    @media (min-width:$tablet-md) {
     padding: 0 22em 0 10px;
     line-height: 2em;
    }
     @media (min-width:$tablet-lg) {
      font-size:5rem;
      padding-right: 10em;
      line-height:1.5em
    }
    @media (min-width:$computer-sm) {
      padding-right: 15em;
      font-size: 3.3em;
      line-height: 6.5rem;
    }
  }
  > span {
    line-height: 2rem;
    color: #fff;
    @include flexCenter;
    @media (min-width:$mobile-lg) {
      padding: 0 12em 0 10px;
      font-size: 1.5rem;
      margin-top: 2rem;
    }
    @media (min-width: $tablet-lg) {
      justify-content:flex-start;
      align-items: unset;
    }
  }
}
